<app-home-navbar></app-home-navbar>
<div class="text-center mx-auto" style="width:50%;">
  <h2>It is a beautiful day. And you are a horrible bank.</h2>
  <p>
     Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras feugiat sed lacus eget placerat. Integer lacus quam, facilisis nec sagittis et, pellentesque vel eros. Praesent nibh odio, euismod eu feugiat et, suscipit et urna. In eu luctus ipsum. Praesent quis ullamcorper massa, sed tempor nulla. Vivamus ac lectus luctus, iaculis elit a, fringilla enim. Aliquam nec lacinia tellus. Fusce mollis, mi vel lacinia maximus, lectus mi pulvinar lectus, id venenatis felis sapien quis dolor. Aliquam condimentum turpis eget libero sollicitudin auctor. Phasellus et massa nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Sed accumsan accumsan est, id eleifend purus dictum quis. Praesent pretium, arcu a fermentum iaculis, urna dolor iaculis ligula, in blandit urna nunc vitae metus. Sed tempor sem vel nisl accumsan, et eleifend turpis varius. Quisque sodales finibus eros, sit amet pellentesque eros hendrerit sed.
  </p>
  <p>
    Maecenas ultricies malesuada elit consequat tempus. Etiam fringilla, velit fermentum blandit congue, dolor lorem luctus urna, vitae lobortis orci ligula pulvinar lectus. Ut ex justo, sagittis vitae varius lobortis, interdum sed dui. Curabitur non diam quis ligula iaculis vulputate. Vivamus nibh erat, tempor sit amet mattis ut, aliquam tristique leo. Nulla imperdiet dapibus velit, nec consequat sem pulvinar tincidunt. Sed id turpis vehicula, rutrum ipsum eu, pretium augue. Donec auctor purus est, ac tincidunt leo feugiat non.
  </p>
</div>
