<h1>Register</h1>
<!-- first section -->
<div id="sectionOne" *ngIf="index==1">
  <!-- first name -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="firstname">First Name:</span>
    </div>
    <input type="text" class="form-control" placeholder="Enter..." [(ngModel)]="newestUser.firstname" #name="ngModel"/>
  </div>
  <!-- lastname -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="lastname">Last Name:</span>
    </div>
    <input type="text" class="form-control" placeholder="Enter..." [(ngModel)]="newestUser.lastname" #name="ngModel">
  </div>
  <!-- ssn -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="ssn">SSN:</span>
    </div>
    <input type="text" class="form-control" placeholder="###-##-####" [(ngModel)]="newestUser.ssn" #name="ngModel">
  </div>
  <!-- email -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="email">Email:</span>
    </div>
    <input type="text" class="form-control" placeholder="example@example.com" [(ngModel)]="newestUser.email" #name="ngModel">
  </div>
  <!-- phone number -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="phonenum">Phone:</span>
    </div>
    <input type="text" class="form-control" placeholder="###-###-####" [(ngModel)]="newestUser.phone" #name="ngModel">
  </div>
</div>
<!-- end first section -->

<!-- second section -->
<div id="sectionTwo" *ngIf="index==2">
  <!-- username -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="username">Username:</span>
    </div>
    <input type="text" class="form-control" placeholder="Enter..." [(ngModel)]="newestUser.username" #name="ngModel">
  </div>
  <!-- password -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="password">Password:</span>
    </div>
    <input type="password" class="form-control" placeholder="Enter..." [(ngModel)]="newestUser.password" #name="ngModel">
  </div>
</div>
<!-- end second section -->

<!-- third section -->
<div id="sectionThree" *ngIf="index==3">
  <!-- address -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="address">Address:</span>
    </div>
    <input type="text" class="form-control" placeholder="Enter..." [(ngModel)]="newestUser.address" #name="ngModel">
  </div>
  <!-- city -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="city">City:</span>
    </div>
    <input type="text" class="form-control" placeholder="Enter..." [(ngModel)]="newestUser.city" #name="ngModel">
  </div>
  <!-- state -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="State">State:</span>
    </div>
    <input type="text" class="form-control" placeholder="Ex: NY" [(ngModel)]="newestUser.state" #name="ngModel">
  </div>
  <!-- zip -->
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="zip">ZIP:</span>
    </div>
    <input type="text" class="form-control" placeholder="#####" [(ngModel)]="newestUser.zip" #name="ngModel">
  </div>
</div>
<!-- end third section -->

<!-- fourth section -->
<div id="sectionFour" *ngIf="index==4">
   <div class="form-group">
    <label for="roleoptions">I am a:</label>
    <select class="form-control" [(ngModel)]="selectedRole" (change)="setRole()">
      <option *ngFor="let role of roles">{{role}}</option>

    </select>
  </div>
</div>
<!-- end fourth section -->

<!-- prev next buttons -->
<div class="d-flex flex-row justify-content-center" *ngIf="!(index==4)">
  <button type="button" name="button" id="nextbutton" class="btn btn-outline-info" (click)="increaseIndex()">Next</button>
</div>

<!-- submit button -->
<div class="d-flex flex-row justify-content-center" *ngIf="index==4">
  <button type="button" name="button" id="submitbutton" class="btn btn-outline-warning" (click)="makeUser()">Submit</button>
</div>
