<!-- <div class="navbar" id="homenavbar">
<a routerLinkActive="active" routerLink="register" class="navlink">Register</a>
<a class="navlink">Login</a>
</div> -->
<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink routerLinkActive="active" routerLink="" id="navthing">Home</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink routerLinkActive="active" routerLink="register">Register</a>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Login</a>
  </li>
</ul>
<router-outlet></router-outlet>
