<!-- filters -->
<div class="mx-auto w-50 m-2">

  <!-- sort -->
  <div class="card p-3 text-center">
    <h4 class="card-header text-info">Sort</h4>
      <select class="btn btn-outline-light dropdown-toggle m-2" [(ngModel)]="sortBy" (change)="goSort()">
        <option *ngFor="let s of sortByValues" [ngValue]="s.val">{{s.type}}</option>
    </select>
  </div>

</div>
<!-- table -->
<table class="table table-bordered w-75 m-5 mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of listDisplayed">
    <tr>
      <td>{{user.userid}}</td>
      <td>{{user.lastname}}, {{user.firstname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
    </tr>
  </tbody>
</table>
