<!-- filters -->
<div class="mx-auto w-50 m-2">

  <!-- sort -->
  <div class="card p-3 text-center">
    <h4 class="card-header text-info">Sort</h4>
      <select class="btn btn-outline-light dropdown-toggle m-2" [(ngModel)]="sortBy" (change)="goSort()">
        <option *ngFor="let s of sortByValues" [ngValue]="s.val">{{s.type}}</option>
    </select>
  </div>

</div>
<!-- table -->
<table class="table table-bordered w-75 m-5 mx-auto">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User ID</th>
      <th scope="col">Name</th>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of listDisplayed">
    <tr>
      <td>{{user.userid}}</td>
      <td>{{user.lastname}}, {{user.firstname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
    </tr>
  </tbody>
</table>

<!-- <button type="button" name="button" (click)="toggleExpandUser()">Click</button>

<ng-template *ngIf="expandUser">
  <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <p>hewwo</p>
    </div>
  </div>
</div>
</ng-template> -->
<!-- user detail modal -->
<!-- <div class="modal fade" id="userDetailModal" tabindex="-1" role="dialog" aria-labelledby="detailModalLabel" [hidden]="expandUser">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">#{{chosenUser.userid}} | {{chosenUser.role}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{chosenUser.lastname}}, {{chosenUser.firstname}}</p>
        <p>{{chosenUserInfo.email}}</p>
        <p>{{chosenUserInfo.phone}}</p>
        <p>{{chosenUserInfo.ssn}}</p>
        <p>{{chosenUserInfo.address}}, {{chosenUserInfo.city}} {{chosenUserInfo.state}} {{chosenUserInfo.zip}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="expandUser=false">Close</button>
      </div>
    </div>
  </div>
</div> -->
