<!-- filters -->
<div class="mx-auto w-50 m-2">

  <!-- sort -->
  <div class="card p-3 text-center">
    <h4 class="card-header text-info">Sort</h4>
    <div class="card-body bg-light">
      <select class="btn btn-outline-light dropdown-toggle w-50 border border-dark" [(ngModel)]="sortBy" (change)="goSort()">
      <option *ngFor="let s of sortByValues" [ngValue]="s.val">{{s.type}}</option>
      </select>
    </div>
    <p class="card-footer text-info">Hover over column names for more information.</p>
  </div>

</div>
<!-- table -->
<table class="table table-bordered w-75 m-5 mx-auto">
  <thead class="thead-dark text-center">
    <tr>
      <th scope="col">User ID</th>
      <!-- <th scope="col">Name</th> -->
      <th><a href="#" title="User's Last Name, First Name" class="text-light">Name</a></th>
      <!-- <th scope="col">Username</th> -->
      <th><a href="#" title="User's chosen username in the system" class="text-light">Username</a></th>
      <!-- <th scope="col">Role</th> -->
      <th><a href="#" title="Either EMPLOYEE or CUSTOMER" class="text-light">Role</a></th>
    </tr>
  </thead>
  <tbody *ngFor="let user of listDisplayed">
    <tr (click)="open(user, content)">
      <td>{{user.userid}}</td>
      <td>{{user.lastname}}, {{user.firstname}}</td>
      <td>{{user.username}}</td>
      <td>{{user.role}}</td>
    </tr>
  </tbody>
</table>

<!-- modal: https://ng-bootstrap.github.io/#/components/modal/examples -->

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">#{{chosenUser.userid}} | {{chosenUser.role}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>{{chosenUser.lastname}}, {{chosenUser.firstname}}</p>
    <p>{{chosenUserInfo.email}}</p>
    <p>{{chosenUserInfo.phone}}</p>
    <p>{{chosenUserInfo.ssn}}</p>
    <p>{{chosenUserInfo.address}}, {{chosenUserInfo.city}} {{chosenUserInfo.state}} {{chosenUserInfo.zip}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<!-- <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

<!-- <hr>

<pre>{{ closeResult }}</pre> -->
