<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="assets/money.png" width="30" height="30" class="d-inline-block align-top mr-3" alt="">
  <a class="navbar-brand" href="#">A Horrible Bank</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <button type="button" name="button" class="btn btn-info mr-2" (click)="goDash()">Dashboard</button>
      </li>
      <li class="nav-item">
        <!-- <button type="button" name="button" class="btn btn-info mr-2" (click)="goUsers()">View Users</button> -->
        <select class="btn btn-info dropdown-toggle mr-2">
          <!-- <option *ngFor="let s of sortByValues" [ngValue]="s.val">{{s.type}}</option> -->
          <option disabled selected>View Users</option>
          <option (click)="goUsers('e')">Employees</option>
          <option (click)="goUsers('c')">Customers</option>
      </select>
      </li>
      <li class="nav-item">
        <button type="button" name="button" class="btn btn-info mr-2" (click)="goAccounts()">View Accounts</button>
      </li>
      <li class="nav-item">
        <button type="button" name="button" class="btn btn-info mr-2" (click)="goInfo()">My Information</button>
      </li>
      <li class="nav-item">
        <button type="button" name="button" class="btn btn-danger mr-2" (click)="logout()">Logout</button>
      </li>
    </ul>
  </div>
</nav>
